body {
  background-color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#title {
  text-align: center;
}
svg {
  border: solid black 5px;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px);
}
#tooltip {
  position: absolute;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  padding: 10px;
}
